/*BOOTSTRAP BREAKPOINTS

@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
}


@media screen and (min-width: 1199.98px) {
          
/*                                        header                       */

.header{
    background-color: #43a3da;
    width: 100%;
    height: 100vh;
}

/*                                  header FLACON                   */


.flacon{
    display:flex ;
    justify-content: space-around;
}



/*                                 header PITCH                       */
.pitch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
} 

#h2-pitch{
    font-family: 'Montserrat', sans-serif; 
    color: #fff;
    font-size: 3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #414549;
}


.word-medium{
    font-size: 2.2em;
}

.word-big{
    font-size: 3em;
}

.maximmo{
    border-radius: 20px;
    width: 50%;
    margin-left: 5%;
}

.scroll-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#h2-scroll-me{
    color: #f8c61a;
    font-size: 3em;
    font-family: 'Varela Round';
}

/*                                          header FLÈCHE                          */


/*                                  MAIN CONTAINER                          */

#container{
    width: 100%;
}


#container #h1-liveroom{
    font-family: 'Varela Round', sans-serif;
    color :#414549;
    font-size: 5em;
    text-align: center;
    margin-top: 2%;
}

#logo-envisite{
    width: 20%;
}

.container-titre-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*                                          SECTION CENTRE                  */

.section-centre{
    margin-top: 10%;
    margin-bottom: 10%;
}

/*                                           TXT IMG MIROIR                  */
.txt-img-miroir{
  display: flex;
  justify-content: space-around;
}

/*                                              TXT MIROIR                  */
.txt-miroir{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     color: #414549; 
    font-family: 'Open Sans';
    font-size: 1.5em;
}

.txt-img-miroir-2 :nth-child(1){
    margin-left: 30px;
}


.txt-img-miroir-3 :nth-child(1){
    margin-left: 20px;
}


.txt-img-miroir-1 :nth-child(1), .txt-img-miroir-3 :nth-child(2){
    width: 50%;
}

.txt-img-miroir-5 :nth-child(2){
    width: 40%;
}



.img-miroir{
    width: 60%; 
}


}

/*                  @MEDIA QUERIES   BREAKPOINT 1                        */

@media screen and(max-width:1687px){
    #h2-pitch{
        font-family: 'Montserrat', sans-serif; 
        color: #fff;
        font-size: 2.4em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #414549;
    }

}

/*                  @MEDIA QUERIES   BREAKPOINT 2                       */

@media screen and (max-width :1672px){
    #h2-pitch{
        font-family: 'Montserrat', sans-serif; 
        color: #fff;
        font-size: 2.4em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #414549;
    }
}

/*                  @MEDIA QUERIES   BREAKPOINT 3                        */

@media screen and (max-width: 1610px) {
    
    .header{
        background-color: #43a3da;
        width: 100%;
        height: 100vh;
        /* transition: all 0.4s ease-in-out; */
    }

    
.flacon{
    display:flex ;
    justify-content: space-around;
}



/*                                 header PITCH                       */
.pitch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 1%; */
    flex-wrap: wrap;
} 

    .maximmo{
        border-radius: 20px;
        width: 50%;
       
    }

    #h2-pitch{
        font-family: 'Montserrat', sans-serif; 
        color: #fff;
        font-size: 2em;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #414549;
    }
    
.scroll-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#h2-scroll-me{
    color: #f8c61a;
    font-size: 3em;
    font-family: 'Varela Round';
}

/*                                          header FLÈCHE                          */


#container{
    width: 100%;
    height: 100vh;
}


#h1-liveroom {
    font-family: 'Varela Round', sans-serif;
    color :#414549;
    font-size: 3em;
    text-align: center;
}

#logo-envisite{
    width: 30%;
}

.container-titre-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.section-centre{
    margin-top: 8%;
    margin-bottom: 10%;
}

/*                                             TXT IMG MIROIR              */
.txt-img-miroir{
    display: flex;
    justify-content: space-around;
}

.img-miroir{
    width: 50%;
}



.txt-miroir{
    text-align: center;
    margin-top: 5%;
    color: #414549;
    font-family: 'Open Sans';
    /* font-size: 12px; */
}

.txt-img-miroir-1 :nth-child(2){
    margin-right: 2%;
}

.txt-img-miroir-2 :nth-child(1){
    margin-left: 2%;
}

.txt-miroir4,.txt-miroir5{
    flex-wrap: wrap;
    width: 320px;
}


.txt-img-miroir-5 :nth-child(2){
   width: 30%;
}

.txt-img-miroir-5 :nth-child(1){
   margin-left: 5%;
}

}

@media screen and (max-width: 1507px) {
    .txt-miroir4
    {
        font-size: 1.3em;
        margin-top: -2%;
    }
}

@media screen and (max-width: 1262px) {
    .txt-miroir4
    {
        font-size: 1.3em;
        margin-top: -2%;
    }
}

@media screen and (max-width: 717px) {
    .txt-miroir4
    {
        font-size: 1.1em;
        margin-top: -2%;
    }
}

